/*
 * @author Philippe Lepever philippe@phimi.consulting
 * 
 * @since 1.0
*/
/* Constantes pour définir les couleurs de border des cartes */
:root {
    --COULEUR_CARTE_NON_JOUE : #000000;
    --COULEUR_CARTE_SELECT: #00b4eb;
    --COULEUR_CARTE_VISBLE: #00b04c;
    --COULEUR_CARTE_ERREUR: #ea342d;
}
/* Style pour les élements */ 
.main {
    margin: 0 auto;
    width: 880px;
    overflow: auto;
    background-color: #dcdcdc;

    .titreJeu {
        background-color: #535353;
        margin-bottom: 20px;
        padding: 10px;
    }
    h1 {
        text-align: center;
        margin: 0;
        color: #ffffff;
    }
}


@import "banniere.scss";
@import "resultat.scss";
@import "plateau.scss";
